{erl_opts, [debug_info]}.
{deps, [
    {jiffy,   {git, "git://github.com/davisp/jiffy.git",       {tag,    "0.14.11"}    }},
    {note,    {git, "git://github.com/el-monkey/note.git",     {tag,    "0.0.1"}      }},
    {cowboy,  {git, "https://github.com/ninenines/cowboy.git", {branch, "2.0.0-rc.3"} }},
    {hal,     {git, "https://github.com/el-monkey/hal.git",    {branch, "master"}     }},
    {iso8601, {git, "https://github.com/erlsci/iso8601.git",   {tag,    "1.2.3"}      }}
]}.
